@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Silkscreen:wght@700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}
html{
   height: 100%; 
}
body{
    min-height: 100%;
    width: 100%;
    background: rgb(20,47,65);
    background: linear-gradient(90deg, rgba(20,47,65,1) 0%, rgba(2,0,36,1) 59%, rgba(69,29,78,1) 100%);
}

.container{
   display: grid;
   row-gap: 50px;
   grid-template: 
   "header header" 90px
   "main image-main" auto
   "footer footer " auto
   / 1fr 1fr ;

}



/** Header  */
 .header{
    grid-area: header;
    width: 100%;
    height: 90px;

    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
 
}



/** Logo */
.logo {
    display: flex;
    position: relative;
    width: 45%;
    align-items:center;
}
.logo >img{
    max-width: 10%;
    margin-right: 5px;
}
.logo > a {
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
}




/** Navegacion */ 
 .nav{
    width: 50%;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-menu> li> a{
    text-decoration: none;  
    display: block;  
    position: relative;
    font-weight: 300;
    padding: 0px 2px;
    }
.nav-menu> li> a:hover{
    padding-bottom: 15px;

  
}
.button-menu{
    background-color: #B02BCE;
    width: 140px;
    padding: 12px 0;
    border: none;
    cursor:pointer;


}
.button-menu:hover,.button-collect:hover, .button-discover:hover{
    width: 145px;
}
/** Menu hamburguer (Mobile) */

.toggle-menu{
    display: none;
    width:40px;
    position: absolute;
    right: 2.5rem;
    top: 1.6rem;
    cursor: pointer;
    filter: invert(1);
}

.toggle-menu > img{
    width: 90%;
    max-width: 100%;
}


/**  Main */
.main{
    display: flex;
    justify-content: center;
}
.main-container{
    grid-area: main;
    width: 60%;
    min-width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: start;
}
.titleDescription{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
}
.title > h1{
    font-size: 4rem;
    font-weight: 1000;
    letter-spacing: -3px;
    margin-bottom: 30px;
}

.titleDescription > p{
    font-size: 1.2rem;
    width: 100%;
    font-weight:100;
    margin-bottom: 40px;
}
.buttons-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
.button-collect{
    background-color: #B02BCE;
    width: 150px;
    padding: 17px 0;
    border: none;
    cursor:pointer;

}

.button-discover{
    background-color: transparent;
    width: 150px;
    padding: 17px 0;
    border-color: #B02BCE;
    border-style: solid;
    cursor:pointer;
    
}


.info-main{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.info > h4{
    font-size:2.5rem;
}

.image-main{ 
    grid-area: image-main;
    width: 85%;
    display: flex;
    align-items: center;
}
.image-main>img{
    position: relative;
    width:100%;
    overflow: hidden;
    animation-name: move-image-main;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: -30px;
 }
.nfts{
    color: #B02BCE;
    font-family: 'Silkscreen', cursive;
    font-size: 700;
}

/**FOOTER*/

.footer{
    background-color: black;
    grid-area:footer;
    width: 100%;
    padding: 5px;
    margin-top: 40px;
    font-size: 0.6rem;
    text-align: center;
}

/** KEYFRAMES ANIMACIONES*/

@keyframes move-image-main{
    from{
        top:0;
    }
    50%{
        top: 15px;
    }
    to{
        top: 0;
    }   
}

/** MEDIA QUERYS SCREEN*/


/* Tablets Screen */
@media  (min-width:768px ) and (max-width: 1110px) {

    .container{
        display: grid;
        row-gap: 50px;
        grid-template: 
        "header header" 150px
        "main image-main" auto
        "footer footer " auto
        / 1fr 1fr ;
        align-items: center;
        justify-items: center;
     
     }
     .header{
        height: 150px;
        flex-direction: column;
     }
     .logo{
        width: 100%;
        justify-content: center;
     }
     .nav{
        width: 100%;
     }
   
}

/* Smartphone*/
@media (min-width: 400px) and (max-width: 767px){
    
    .container{
        display: grid;
        row-gap: 50px;
        grid-template: 
        "header header" 200px
        "main main" auto
        "image-main image-main" auto
        "footer footer " auto
        / 1fr  ;
        align-items: center;
        justify-items: center;
    
     }
  
        
     .header{
        height: 200px;
        flex-direction: column;
     }
     .logo{
        width: 100%;
        justify-content: center;
     }
     .nav{
        width: 100%;
        min-width: 475px;
     }
     .nav-menu{
        flex-direction: column;
        height: 200px;
       
     }
     .main-container{
        width: 85%;
     }
     .image-main {
        width: 60%;
     }

   
   
}